@inject IConfiguration config
@{
    var siteName = config["Site:Name"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css?0.8102" media="all" />
    <link rel="stylesheet" href="~/css/site-mobile.css?0.8101" media="(max-width: 480px)" />
    <link href="//fonts.googleapis.com/css?family=Asap:200,400,700|Asap+Condensed:700|Righteous&display=swap" rel="stylesheet">
    <link rel="icon" href="~/favicon.png" type="image/png" sizes="16x16">
</head>
<body>
    <header>
        <div class="container">
            <ul class="header-section header-primary">
                <li class="header-item">
                    <a class="header-link" href="/"><object data="/images/logo.webp" style="vertical-align: middle">@siteName</object></a>
                </li>
                <li class="header-item">
                    <a class="header-link" asp-area="" asp-page="/Standings">Standings</a>
                </li>
                <li class="header-item">
                    <a class="header-link" asp-area="" asp-page="/Scores">Scores</a>
                </li>
                <li class="header-item">
                    <a class="header-link" asp-area="" asp-page="/Schedule">Schedule</a>
                </li>
                <li class="header-item">
                    <a class="header-link" asp-area="" asp-page="/Playoffs">Playoffs</a>
                </li>
                <li class="header-item">
                    <a class="header-link" asp-area="" asp-page="/History">History</a>
                </li>
                <li class="header-item">
                    <a class="header-link" asp-area="" asp-page="/Locations">Locations</a>
                </li>
            </ul>
            @await Component.InvokeAsync("HeaderTeams")
            <ul class="header-section header-login">
        @if (User.Identity is not null && !User.Identity.IsAuthenticated) {
                <li><a class="header-link" href="/Login"><span class="desktop-only">Log In</span><i class="mobile-only far fa-user-circle"></i></a></li>
        }
        else {
                <li><a class="header-link" href="/User"><span class="desktop-only">@User.Identity?.Name</span><i class="mobile-only fas fa-user-circle"></i></a></li>
        }
            </ul>
        </div>
    </header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
        <footer>
            <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                    <input type="checkbox" id="checkbox" />
                    <div class="slider round"></div>
            </label>
                <em><span title="Toggle Light/Dark Mode" class="fas fa-lightbulb"></span></em>
            </div>
            <p>&copy; 2020-@DateTime.Now.Year - @siteName</p>
            <p class="hidden-footer">Designed & developed by Brandon Elmes</p>
        </footer>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js" crossorigin="anonymous" async defer></script><!-- https://fontawesome.com/icons?d=listing&m=free -->
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
